@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ------------------------Nav----------------------------- */
.Nav{
  position: sticky;
  top:0;
  background-color: gray;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: clamp(15px, 5vw, 30px) ;
  font-family: 'Nerko One', cursive; 
}
.logo{
  width: 50px;
  margin-left: 20px;
}
.link{
  margin: 2rem;
}
a{
  color: gold;
}
.link:hover{
  border-bottom: 5px black solid;
}

a{
  text-decoration: none;
  color: black;
  
}
.material-symbols-outlined{
  font-size: 50px;
}
/* ----------------Homepage-------------------------- */
.Homepage{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image:url("../src/components/images/view 8.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 

}
.Homepage a{
  /* color: black; */
}
.logonew{
  width: 150px;
  height: 150px;
  /* display: none; */
}

@keyframes example {
  
}

.info1{
  font-size: clamp(15px, 5vw, 30px);
  width:320px;
  height:200px;
  /* border: 5px black solid; */
  font-family: 'Caveat', cursive;
  margin-top: 200px;
  border:solid black 8px;
  border-radius: 50px;
  padding: 15px;
  
  
}

.info2{
  font-size: clamp(15px, 5vw, 30px);
  width:600px;
  height:200px;
  /* border: 5px black solid; */
  font-family: 'Caveat', cursive;
  margin-top: 200px;
  border:solid black 8px;
  border-radius: 50px;
  padding: 15px;

}
.image1{
  width: 150px;
  height:150px
 }
.image2{
  width: 150px;
  height:150px
 }
.image3{
  width: 150px;
  height:150px
 }

/* ----------------Parents-------------------------- */

.Parents{
  background-color: lightblue;
  width: 100%;
  height: 400vh;
  /* display: flex;
  flex-direction: column; */
  /* position:absolute; */
  /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("../src/components/images/view7.jpeg"); */
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 15px;
  font-family: 'Edu NSW ACT Foundation', cursive;

 
}
.inputPr{
  background-color: gold;
  margin: 10px;
  width: 350px;
  height: 40px;
  font-size: 30px;
  font-family: 'Maven Pro', sans-serif;

}
.select{
  height: 38px;
  background-color: gold;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 15px;



}
.card{
  width:400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  border:black solid 4px;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  box-shadow: 5px 5px ;
  border-radius: 20px;
  background:#f5f5f5;
  

}
.cards{
  display: flex;
  flex-wrap: wrap;
  /* border:black solid 4px; */
  justify-content: space-around;
  font-family: 'Edu NSW ACT Foundation', cursive;
  

}
.infoCard1{
 font-size: 30px; 
}
.imgCard{
  width: 70px;
  border-radius: 20px;
  border:3px solid black
}
.infoCard{
  font-size: 20px;
}


.btn-parent{
  font-size: 100px;
  font-family: 'Maven Pro', sans-serif;

}
.custom-select{
  margin: 10px;
  width: 250px;
  font-family: 'Maven Pro', sans-serif;

  
  
}

.btn-Del-Pr{
  width: 60px;
  height: 20px;
  border-radius: 20px;
  background-color: gold;
}
.btn-Edit-Pr{
  width: 60px;
  height: 20px;
  border-radius: 20px;
  background-color: gold;
}

/* ----------------Babysitter-------------------------- */

.Babysitter{
  background-color:cornflowerblue;
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: center;
}
.Error{
  color: red;
  margin-left: 800px;
  margin-top: 200px;
}
.cardBs{
  display: flex;
  width:600px;
  height: 700px;
  flex-direction: column;
  border: 5px black solid;
  justify-content:flex-start;
  margin-top: 20px;
  font-family: 'Maven Pro', sans-serif;
  background-color: darkkhaki;

}
.cd{
  font-size: 40px;
  text-align: center;
}
.hd{
  font-size: 50px;
  text-align: center;
}
.inputBs{
height: 35px;
width: 250px;
margin: 0 auto;
}
.btn-bs{
  background-color: royalblue;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  
}

.mes-bs{
  color:red;
  margin-top: 200px;
  font-size: 40px;
}

.Calendar{
  display: flex;
 justify-content: center;
 align-items: center;
 width: 40%;
 height: 40%;
}

/* ----------------Edit box-------------------------- */
.EditBox{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top:300px;
  background: black;
  width: 500px;
  height: 500px;
  background-attachment: fixed;


}
.float{
   position: absolute;
   left: 0;
   top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
}

.peh{
  color: white;
  background-color: #C0271F;
  align-items: center;
}

.btn-Edit{
border: 3px solid white;
background-color: gold;
color: black;
width: 50px;
margin: 0 auto;
}


.spinnerContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(165, 42, 42, 0.219);
  display: grid;
  place-items: center;
}
@media only screen and (max-width: 930px) {
  .Homepage {
    flex-direction: column;
  }
  .info1{
   justify-content: center;
   align-items: center;
   margin: 0 auto;
  }
  .info2{ 
   justify-content: baseline;
   margin: 0 auto;
   margin-bottom: 300px;
   height: 150px;
   
}
}
@media only screen and (max-width: 770px) {
  .material-symbols-outlined{
    display: none;
  }
}
@media only screen and (max-width: 770px)and(min-width:640){

}
@media only screen and (max-width: 1430px){
  .material-symbols-outlined{
    display: none;
}
}
@media only screen and (max-width: 632px){
  .logo{
    width: 50px;
    margin-left: 5px;
  }
  .link{
    margin: 1rem;
  }
}
@media only screen and (max-width: 616px){
  .info1{
    width: 300px;
    height: 150px;
  }
  .info2{
    width: 300px;
    height: 250px;
  }
}
@media only screen and (max-width: 508px){
  .inputPr{
    background-color: gold;
    margin: 10px;
    width: 200px;
  }
  .select{
    height: 38px;
    background-color: gold;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 15px;
    width: 100px;
  } 
}
@media only screen and (max-width: 1120px){
  .cardBs{
    display: flex;
    width:300px;
    height: 400px;
    flex-direction: column;
    border: 5px black solid;
    justify-content:space-around;
    margin-top: 20px;
    font-family: 'Maven Pro', sans-serif;
    background-color: darkkhaki;
    font-size: 10px;
    margin-top: 100px;
}
.cd{
  font-size: 20px;
  text-align: center;
}
.hd{
  font-size: 20px;
  text-align: center;
}
.inputBs{
height: 20px;
width: 100px;
margin: 0 auto;
}
.btn-bs{
  background-color: royalblue;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  
}
.Calendar{
  display: flex;
 justify-content: center;
 align-items: center;
 width: 40%;
 height: 40%;
 padding-left: 10px;
 margin-top: 80px;
}
}
@media only screen and (max-width: 760px){
  .cardBs{
    
    width:200px;
    height: 500px;
    flex-direction: column;
    border: 5px black solid;
    justify-content:space-around;
    margin-top: 20px;
    font-family: 'Maven Pro', sans-serif;
    background-color: darkkhaki;
    font-size: 10px;
    margin-top: 100px;
}
.cd{
  font-size: 20px;
  text-align: center;
}
.hd{
  font-size: 20px;
  text-align: center;
}
.inputBs{
height: 20px;
width: 100px;
margin: 0 auto;
}
.btn-bs{
  background-color: royalblue;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  
}@media only screen and (max-width: 724px){
  .Calendar{
    width: 60%;
    height: 40%;
  }
}
}
@media only screen and (max-width: 724px){
  .Calendar{
    display: none;
  }
  .cardBs{
    margin-bottom: 200px;
    width: 300px;
    
  }
}